.wrapper {
    margin: 0;
    padding: 0;
    background-color: #051e3e;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.won {
    position: absolute;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    background-color: #051e3e;
    border-radius: 10px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    background-color: #451e3e;
    height: 16vh;
}

.player {
    padding: 0;
    z-index: 5;
}

.player::after {
    content: '';
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px #1a162b;
    z-index: 5;
    position: absolute;
}

.start-cell {
    padding: 0;
}

.start-cell::before {
    content: '';
    background-color: #051e3e;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

.end-cell {    
    padding: 0;
}

.end-cell::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #851e3e;
    transform: rotate(45deg);
}

.top-wall {
    border-top: solid 10px #651e3e;
}

.bottom-wall {
    border-bottom: solid 10px #651e3e;
}

.left-wall {
    border-left: solid 10px #651e3e;
}

.right-wall {
    border-right: solid 10px #651e3e;
}