.wrapper {
    margin: 0;
    padding: 0;
    background-color: #051e3e;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.won {
    position: absolute;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    background-color: #051e3e;
    border-radius: 10px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    background-color: #451e3e;
    height: 9vh;
}

.player, .player-down, .player-up, .player-left, .player-right {
    padding: 0;
    z-index: 5;    
}

.player::before, 
.player-down::before, 
.player-up::before, 
.player-left::before, 
.player-right::before {
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px #1a162b;
    z-index: 5;
    position: absolute;
}

.player::after {
    content: '';
    background-color: #1a162b;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 6;
    transform: rotate(45deg);
}

.player-left::after {
    content: '➤';
    color: #1a162b;
    position: absolute;
    font-size: 0.9em;
    z-index: 6;
    transform: rotate(180deg);
}

.player-right::after {
    content: '➤';
    color: #1a162b;
    position: absolute;
    font-size: 0.9em;
    z-index: 6;
}

.player-up::after {
    content: '➤';
    color: #1a162b;
    position: absolute;
    font-size: 0.9em;
    z-index: 6;
    transform: rotate(-90deg);
}

.player-down::after {
    content: '➤';
    color: #1a162b;
    position: absolute;
    font-size: 0.9em;
    z-index: 6;
    transform: rotate(90deg);
}

.start-cell {
    padding: 0;
}

.start-cell::after {
    content: '';
    background-color: #051e3e;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    z-index: 1;
}

.end-cell {    
    padding: 0;
}

.end-cell::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #851e3e;
    transform: rotate(45deg);
}

.top-wall {
    border-top: solid 10px #651e3e;
}

.bottom-wall {
    border-bottom: solid 10px #651e3e;
}

.left-wall {
    border-left: solid 10px #651e3e;
}

.right-wall {
    border-right: solid 10px #651e3e;
}
